header {
    background-color: rgb(237, 242, 244);
    border-bottom: 5px outset ;
    margin-bottom: 50px;
}



@media (max-width:767px) { /*TAMAÑO SMARTPHONE*/
    header {
        display: grid;
    }
    
    .banner, .logo, .buttonMenu img {
        z-index: 2;
    }

    .banner {
        position: absolute;
        width: 100%;
        height: 123px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .logo img {
        height: 75px;
        width: 200px;
    }

    .menu {
        justify-self: end;
    }
    
    .buttonMenu{
        font-size: 32px;
        cursor: pointer;
        margin-right: 20px;
    }
    
    .buttonMenu img { 
        height: 30px;
        cursor: pointer;
        position: relative;
    }
    
    .menuItems{
        position: fixed;
        top: -100%;
        background-color: lightcyan;
        width: 100%;
        right: 0;
        text-align: center;
        line-height: 40px;
        z-index: 1;
        transition: all .7s;
    }
    
    #check{
        display: none;
    }
    
    #check:checked ~ ul{
        top: 123px;
        z-index: 1;
        transition: all .7s;
    }

    a {
        text-decoration: none;
        color: black;
    
    }
    
    a:hover {
        color: white;
    }
}

@media (min-width:768px) { /*TAMAÑO TABLET*/
    header{
        margin-bottom: 80px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        position: relative;

        img {
            height: 100px;
            width: 300px;
        }
    }

    .menu {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .buttonMenu img {
        display: none;
    }
    
    li {
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }
    
    a {
        text-decoration: none;
        color: $colorLetra
    
    }
    
    a:hover {
        border-bottom: 5px outset;
        transition: all 0.3s;
        color: white;
    }

    #check{
        display: none;
    }    
}

@media (min-width:1024px) { /*TAMAÑO DESKTOP*/
    header{
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .logo {
        width: 100%;
    }
    
    .menu {
        display: grid;
        justify-content: end;
        align-content: center;
        width: 100%;
    }

    .buttonMenu img {
        display: none;
    }
    
    li {
        margin-right: 10px;
        position: relative;
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    a:hover {
        border-bottom: 5px outset;
        transition: all 0.3s;
    }

    #check{
        display: none;
    }    
}